**FUNCTIONS QUESTIONS**

1.Create a function that takes in a name as a string argument, and prints out “Hello name”.

In [ ]:
greeting = function(name){
    cat("Hello",name)
    }

name=readline()
greeting(name)

Sunder
Hello Sunder

2.Create a function that takes in a name as a string argument and returns a string of the form - “Hello name”.

In [ ]:
my_fun = function(name){
   return (paste("Hello",name))
}

name=readline()
my_fun(name)

vidhya

[1] "Hello vidhya"

3.Create a function that will return the product of two integers.

In [ ]:
prod = function(a,b){
    return (a*b)
}

a=as.integer(readline())
b=as.integer(readline())
cat("product_of_a_and_b :", prod(a,b))

12
12
product_of_a_and_b : 144

4.Create a function to check the count of numbers
Ex. x = c(1,1,1,2,2,2,3,12,3,4,5,3) output should be how many times each element is present in the vector.

In [ ]:
 Count_of_numbers = function (x){
  y = table(x)
  print("Count_of_numbers_in_vector:")
  return (y)
 }

 x = c(1,1,1,2,2,2,3,12,3,4,5,3)
 Count_of_numbers(x)

[1] "Count_of_numbers_in_vector:"

x
 1  2  3  4  5 12
 3  3  3  1  1  1

5.Create a function categorize_age that takes an age (numeric value) as input and returns “Child” if the age is less than 18, “Adult” if the age is between 18 and 64, inclusive, and “Senior” if the age is 65 or above.

In [ ]:
categorize_age = function ( age) {
    if(age < 18){
        return("Child")

    }else if(age >= 18 & age <= 64) {
        return("Adult")
    }else{
        return ("Senior")
    }
}

age = as.integer(readline())
categorize_age(age)

65

[1] "Senior"

6.Write a function average_salary_by_age_group that takes a data frame with columns Age and Salary and returns a new data frame with two columns, AgeGroup and AverageSalary, where AgeGroup is “Young” (ages below 30), “Middle” (ages 30 to 50), and “Senior” (ages above 50), and AverageSalary is the average salary for each age group.

In [ ]:
df=data.frame(Age=c(18,34,25,19,50,65,78,22,25,45,55,36,41,28,37),
              Salary=c(10000,80000,30000,6000,100000,30000,20000,35000,50000,200000,150000,90000,100000,35000,70000))

average_salary_by_age_group = function(df){
  df$AgeGroup = cut(df$Age, breaks = c(-Inf, 30, 50, Inf), labels = c("Young", "Middle", "Senior"))
  AverageSalary = aggregate(Salary~AgeGroup,df,mean)
  names(AverageSalary)=c("AgeGroup","AverageSalary")
  return (AverageSalary)
}

average_salary_by_age_group(df)

  AgeGroup AverageSalary
1 Young     27666.67
2 Middle   106666.67
3 Senior    66666.67

7.Given a data frame df with columns Length and Width representing dimensions of rectangles, write a function area_rectangle that calculates the area of each rectangle. Then, use apply(), lapply(), or sapply() to apply this function to df to add a new column Area to the data frame.

In [8]:
df= data.frame(length=c(10,20,35,40,50),
               width=c(5,10,15,30,20))

area_rectangle = function(row) {
  return(row["length"] * row["width"])
}

df$Area = unlist(lapply(split(df, seq(nrow(df))), area_rectangle))
df

  length width Area
1 10      5      50
2 20     10     200
3 35     15     525
4 40     30    1200
5 50     20    1000

**STATEMENT QUESTIONS**


1.Write a script that will print “Even Number” if the variable x is an even number, otherwise print “Not Even”.

In [ ]:
x = as.numeric(readline())
if (x %% 2 == 0){
    print("Even Number")
}else{
    print("Not Even")
}

34
[1] "Even Number"

2.Write a script that will print ‘Is a Matrix’ if the variable x is a matrix, otherwise print “Not a Matrix”. Hint: You may want to check out help(is.matrix)

In [ ]:
x=matrix(1:4,nrow=2)

if (is.matrix(x) == TRUE){
    print ("Is a Matrix")
}else{
    print("Not a Matrix")
}

[1] "Is a Matrix"

3.Create a script that given a numeric vector x x=c(3,7,1), will print out the elements in order from high to low i.e (1,3,7). You must use if,else if, and else statements for your logic.

In [ ]:
x=c(3,7,1)
# sorting from high to low :
if (x[1] >= x[2] & x[1] >= x[3]) {
  if (x[2] >= x[3]) {
    cat(x[1], x[2], x[3], "\n")
  } else {
    cat(x[1], x[3], x[2], "\n")
  }
} else if (x[2] >= x[1] & x[2] >= x[3]) {
  if (x[1] >= x[3]) {
    cat(x[2], x[1], x[3], "\n")
  } else {
    cat(x[2], x[3], x[1], "\n")
  }
} else {
  if (x[1] >= x[2]) {
    cat(x[3], x[1], x[2], "\n")
  } else {
    cat(x[3], x[2], x[1], "\n")
  }
}

7 3 1

In [ ]:
x=c(3,7,1)
# sorting from low to high :
if (x[1] <= x[2] & x[1] <= x[3]) {
  if (x[2] <= x[3]) {
    cat(x[1], x[2], x[3], "\n")
  } else {
    cat(x[1], x[3], x[2], "\n")
  }
} else if (x[2] <= x[1] & x[2] <= x[3]) {
  if (x[1] <= x[3]) {
    cat(x[2], x[1], x[3], "\n")
  } else {
    cat(x[2], x[3], x[1], "\n")
  }
} else {
  if (x[1] <= x[2]) {
    cat(x[3], x[1], x[2], "\n")
  } else {
    cat(x[3], x[2], x[1], "\n")
  }
}

1 3 7

4.Write a script that uses if,else if, and else statements to print the max element in a numeric vector with 3 elements.
Ex. x = c(3,7,1) 7 should be the output

In [ ]:
x = c(3,7,1)


if (x[1] > x[2] & x[1] > x[3]){
    print(x[1])
} else if (x[2] > x[1] & x[2] > x[3]){
    print(x[2])
} else {
    print(x[3])
}

[1] 7